<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnStringDb1" connectionString="Data Source=DESKTOP-2BSVHGG;Initial Catalog=YourDataBaseName;Integrated Security=True;" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>